/* Yadira Esparza Styles*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* gloabal & mobile*/
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
	  --purple: #9B26B0;
	  --blue: #499BD2;
	  --dgray: #222222;
	  --lgray: #EAEAEA;
	  --white: #FFFFFF;
	  --black: #000000;
    --ver1font: "Molle", cursive;
    --ver2font: "Montserrat", sans-serif; 
    font-size: 16px;
}
article, details, footer, header, hgroup, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ul {
	list-style: none;
}

h1, h2, h3{
  font-family: var(--ver1font); 
  padding-left: 30px;
}
p, q, form, li, h4, a, #menu-toggle, label, select, .form-required{
  font-family: var(--ver2font); 
}
html {
  background-image: linear-gradient(180deg, var(--teal), var(--white)10%);
}
#skip a{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
 
#skip a:focus{
  position:static;
  width:auto;
  height:auto;
}
.sr-only{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
h1{ 
  font-size: 50px; 
}
#logo{
  padding-bottom: 0px; 
  margin 0px; 
}
/*toggle*/

#menu-toggle{
  padding:0;  
  margin:0; 
  bottom: 120px; 
  list-style: none;   
  position: relative;
  display: flex;
  justify-content: flex-end; 
  align-self: start; 
}
#menu-toggle input[type="checkbox"] {
    opacity: 0;
}
#menu-toggle label, #menu-toggle input{
  display: block; 
  padding: 10px 70px 0px 60px; 
  margin: -100px 0px 50px 0px; 
  color: black;   
  font-size: 20px; 
  font-weight: bold; 
  background: var(--yellow);
}
#menu-toggle label:hover, #menu-toggle input:hover{
  width: 100%; 
  background: black; 
  display: block; 
  color: white;  
  text-align: center;
  padding: 10px 80px 0px 70px; 
  margin: -100px 0px 50px 190px;
}
#menu-toggle ul li, #menu-toggle ul a{   
  display: block;
  align-content: flex-start;
  text-decoration: none;
  padding: 10px; 
  color: black; 
}
#menu-toggle ul li{
  border: 1px solid var(--black);
}
#menu-toggle ul a{
  padding: 0px 50px 0px 44px;
}
#menu-toggle ul{ 
  justify-content: center;
  background: var(--teal); 
  position: absolute; 
  z-index: 999; 
  display: none;
  padding: 0px 0px 0px 0px;
  margin: -50px -10px 0px 0px;
  border: 1px solid var(--black);
}
#menu-toggle input, label:hover{
  background: white; 
}
#menu-toggle:hover ul{
  display: block; 
}
header p{
  padding-left: 30px; 
  padding-bottom: 20px; 
}
/*intro*/
h2{
  padding-top: 30px; 
  font-size: 30px; 
}

#intro p{
  padding-left: 30px; 
  padding-bottom: 20px; 
}
#intro picture source{ 
  width: 500px;
  height: 500px; 
}
#intro img{
  justify-content: center;
}

#intro picture{ 
  padding-left: 40px; 
}
/*plan*/
#plan{
  background: var(--yellow); 
}
h3{
  padding-top: 30px; 
  font-size: 30px; 
  padding-bottom: 30px; 
}
#plan div{ 
  padding-bottom: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center;
}
#plan section {
  flex-basis: 100%;
  background: var(--teal); 
  margin-bottom: 30px;
  padding: 10px 10px 10px 10px; 
  width: 300px; 
  height: 300px;
  text-align: center;
  border: 2px solid var(--white);
  border-radius: 5px;
}
#plan section h4{
  text-transform: uppercase;
  margin-bottom: 20px; 
  font-weight: bold; 
}
#plan h4{
  font-size:20px;
}
/*testimonials*/ 
#testimonials div{
  padding-bottom: 20px;
  display: flex;
  flex-direction: column; 
  align-items: center;
}
#testimonials div section{
  flex-basis: 100%;
  margin-bottom: 30px;
  padding: 10px 10px 10px 10px; 
  text-align: center;
  width:300px; 
}
#testimonials h4{
  font-weight: bold; 
  font-size:20px;
}
#testimonials q{
  font-style: italic;
}
#about{
  background: var(--blue); 
}
#about div{
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  padding-bottom: 30px; 
  text-align: center;
}
#about section{
  padding: 10px; 
}
#about h4{
  font-weight: bold; 
  font-size: 15px; 
  text-transform: uppercase;
}
#contact #names{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 10px 10px 10px 10px; 
  width:450px; 
}
#names input{
  height: 40px; 
  border: 3px solid var(--purple);
}
#nums{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 10px 10px 10px 10px; 
  width:450px;
}
.radio-input, .radio-label{
  display: flex;
  flex-direction: column;
  width: 160px; 
}
#nums input{
  height: 40px; 
  border: 3px solid var(--purple);
}
#selects, .custom-select select{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 10px 10px 10px 10px; 
  width:450px;
}
.custom-select select{
  height: 50px; 
  border: 3px solid var(--purple);
}
#mySubmit{
  margin-top: 20px; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  background-color: var(--purple); 
  color: white; 
  border: 1px solid var(--purple)
}
#names, #selects, #mySubmit{
  display: flex; 
  justify-content: center; 
}
label, input, legend{
  font-weight: bold;
  text-transform: uppercase;
}
.required{
  color: var(--purple); 
}
footer, footer a{
  background-color: var(--lgray);
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  align-items: center;
  text-decoration: none; 
  color: black; 
}
footer p{
  padding:10px; 
}
.form-required{
    font-size: 20px;  
  }
@media screen and (min-width: 650px) {
  #menu-toggle ul{ 
    margin: 105px 40px 0px 0px;
    border: 0;
  }
  #menu-toggle li{
    width: 200px;
    padding: 100px; 
    background-color: white; 
    align-text: center;
  }
  #menu-toggle ul, #menu-toggle li{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
  }
  #menu-toggle label{
    opacity: 0; 
  }
  #menu-toggle ul:hover, #menu-toggle li:hover{
    display: flex;
    flex-direction: row;
    flex-basis: 100%; 
}
  #menu-toggle li:hover{
    background-color: var(--yellow); 
  }
  #plan div{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    text-align: center;
  }
  #testimonials div{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    text-align: center;
  }
  #about div{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    text-align: center;
  }
  footer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    text-align: center;
    magin: 0px 100px 0px 0px; 
  }
  #contact #names{
    width: 950px; 
  }
  #nums{
    width: 950px; 
  }
  #selects, .custom-select select{
    width: 950px; 
  }
  #contact h3{
    padding:5px; 
    margin: 0; 
  }
  #img-grid img, picture{
    align-items: center;
  }
  #img-grid img{
    padding-left: 20px; 
  }
}
@media screen and (min-width: 992px){
  header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 0px;
  }
  #logo {
    grid-row: 2/3;
    grid-column: 1; 
  }
  h1{
    grid-column: 2; 
    grid-row: 2/2; 
  }
  header p{
    grid-column: 2;
    grid-row: 3/3; 
    padding: 0; 
    mrgin: 0; 
    width: 500px; 
  }
  nav{
    grid-column: 3;
    grid-row: 1/1;
    padding: 0px 0px 0px 0px; 
    margin: 0px 0px 0px 400px; 
  }
  #intro{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 0px;
  }
  #intro h2{
    grid-column: 1;
    grid-row: 1/1; 
  }
  #intro p{
    grid-column: 1;
    grid-row: 2/2;
  }
  #img-grid{
    grid-column: 2;
    grid-row: 2/2;
    scale: 0.8 0.8;
    padding: 0; 
    margin: 0; 
  }
  #intro img, picture{
    margin:0; 
    padding: 0; 
  }
  #plan div{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    text-align: center;
    scale: 0.8 0.8;
  }
  #testimonials div{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    text-align: center;
    scale: 0.8 0.8;
  }
  form{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    text-align: center;
    scale: 0.8 0.8;
    width: auto;
  }
  #contact #names{
    width:400px; 
  }
  #nums{
    width: 400px; 
  }
  #selects, .custom-select select{
    width: 400px; 
  }
  .radio-input, .radio-control{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    text-align: center;
  }
}
