/* Yadira Esparza Styles*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* gloabal & mobile*/
@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
	--purple: #9B26B0;
	--blue: #499BD2;
	--dgray: #222222;
	--lgray: #EAEAEA;
	--white: #FFFFFF;
	--black: #000000;
    --ver1font: "Molle", cursive;
    --ver2font: "Montserrat", sans-serif; 
    font-size: 16px;
}

h1, h2, h3 {
    font-family: var(--ver1font);
}

h4, p, q, small, nav, button {
    font-family: var(--ver2font);
}
form{
  font-family: var(--ver2font);
}

h1 {
    font-size: 60px;
    padding: 8px 12px 0;
}

h2 {
    font-size: 40px;
    padding: 8px 12px 0;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}

* {
    box-sizing: border-box;
}

#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;
    left: 0;
}

body {
    line-height: 1.3;
}

main p:not(#about p) {
    padding: 4px 24px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--teal); 
    background-image: linear-gradient(var(--teal), white 100%);  
}

#logo {
    order: 1;
    justify-self: center;
}

#logo img {
    max-width: 130px;
    width: 100%;
}

h1 {
    order: 3;
    width: 100%;
}

header p {
    order: 4;
    font-size: 18px;
    padding: 4px 24px;
}

nav {
    order: 2;
}

#menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-weight: bolder;
}

#menu-toggle input:checked ~ label {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
}

#menu-toggle input:checked ~ label:hover {
    background-color: var(--yellow);
    color: var(--black);
}

#menu-toggle input:checked ~ ul {
    position: absolute;
    left: 0;
    text-align: center;
    max-width: 100%;
    width: 100%;
}

#menu-toggle h2 {
    position: absolute;
    left: -10000px;
    top: auto;
    height: 1px;
    width: 1px;
    overflow: hidden;
    padding: 0;
}

#menu-toggle input {
    left: -1px;
    width: 1px;
    height: 1px;
    opacity: 0;
    position: absolute;
    display: block;
    cursor: pointer;
}

#menu-toggle label {
    padding: 15px 90px;
    background-color: var(--yellow);
    text-align: center;
}

#menu-toggle ul {
    position: absolute;
    top: 40px;
    left: -100%;
}

#menu-toggle label:hover {
    cursor: pointer;
}

#menu-toggle a {
    display: block;
    background-color: var(--teal);
    color: var(--black);
    text-decoration: none;
    padding: 12px;
}

#menu-toggle a:hover {
    background-color: var(--yellow);
    color: var(--black);
}

#menu-toggle li:not(:last-child) a {
    border-bottom: 2px solid var(--black);
}

#intro {
    padding: 5px;
}

#img-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
}

#img-grid img {
    padding-bottom: 10px;
    width: 600px;
    height: 600px;
}

#plan {
    background-color: var(--yellow);
}

#plan h3 {
    text-align: center;
    padding: 16px 0 0;
    font-size: 40px;
}

#plan div {
    display: grid;
    grid-template-columns: minmax(250px, 300px);
    justify-content: center;
    grid-gap: 16px;
    padding: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}

#plan section {
    background-color: var(--teal);
    padding: 10px;
    border-radius: 4px;
    border: 2px solid var(--white);
    width: 300px; 
    height: 300px; 
}

#plan img {
    display: block;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
}

#testimonials {
    padding: 15px;
}

#testimonials div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
}

#testimonials h3 {
    font-size: 30px;
}

#testimonials h4 {
    font-size: 25px;
}

#testimonials q {
    font-style: italic;
    quotes: '"' '"' "'" "'";
}

#testimonials q::before {
    content: open-quote;
}

#testimonials q::after {
   content: close-quote;
}

#about {
    background-color: var(--blue);
}

#about h3 {
    padding: 10px;
}

#about div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    padding: 10px;
}

#about section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#about img {
    max-height: 85px;
    max-width: 100%;
}

form {
    padding: 10px;
}

#contact {
    padding: 20px;
}

#contact h3 {
    padding: 5px;
}

#contact h3 span { 
    font-size: 15px;
    font-style: italic;
    font-family: var(--ver2font);
}

legend, form label{
    text-transform: uppercase;
    font-weight: bolder;
    padding-top: 10px;
}

.required {
    color: var(--purple);
    font-weight: bold;
}

form div {
    display: flex;
    flex-direction: column;
}

form input {
    padding: 12px;
    border: 3px solid var(--purple);
    font-family: var(--ver2font);
}

#nums {
    padding: 3px;
}

fieldset {
    display: flex;
    flex-direction: column;
}

fieldset label, .radio-input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/*check markk style*/
[type="radio"]:checked {
    background-color: var(--purple);
    appearance: none;
    border-radius: 50%;
    transform: scale(.60); 
}

[type="radio"] {
    width: 60px;
    height: 60px;
}

.radio-control {
    transform: translate(9%, 3%);
    display: block;
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    border: 3px solid var(--purple);
    border-radius: 50%;   
}

.radio-label {
    padding: 20px;
}

select {
    border: 3px solid var(--purple);
    padding: 10px;
    font-family: var(--ver2font);
}

#mySubmit {
    margin-top: 5px;
    background-color: var(--purple);
    color: var(--white);
    text-transform: uppercase;
    font-weight: bolder;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: var(--lgray);
}

footer p {
    font-size: 20px;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: var(--dgray);
    font-family: var(--ver2font);
    font-size: 15px;
    padding: 5px;
}

@media (min-width: 650px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, .2fr);
        padding-bottom: 30px;
    }

    #logo {
        grid-row: 1/3;
        order: unset;
    }

    #logo img {
        max-width: 180px;
        width: fit-content;
    }

    h1 {
        color: var(--dgray); 
    }

    header p {
        grid-row: 2/3;
        grid-column: 2/-1;
        order: unset;
    }

    nav {
        grid-row: 3/4;
        grid-column: 1/-1;
        padding: 3px;
    }

    #menu-toggle label {
        display: none;
    }

    #menu-toggle ul {
        display: flex;
        justify-content: space-evenly; /*important*/
        width: 100%;
        position: relative;
        top: auto;
        left: auto;
    }

    #menu-toggle li {
        width: 100%;
        text-align: center;
        margin: 5px;
    }
    #menu-toggle a {
        background-color: var(--white);
    }

    #menu-toggle a:hover {
        background-color: var(--yellow);
    }

    #menu-toggle li:not(:last-child) a {
        border-bottom: unset;
    }
  
    h2 {
        padding: 8px 4px 0;
    }

    main p {
        padding: 4px 4px;
    }
  
    #intro {
        padding: 20px;
        padding-top: .1px;
        margin-top: -20px; 
    }

    #img-grid {
        grid-template-columns: 1fr 1fr;
    }
  
    #img-grid picture {
        grid-column: 1/-1;
        width: 500px;
    }

    #plan h3 {
        text-align: left;
        padding: 16px 0 0 16px;
    }

    #plan div {
        grid-template-columns: 1fr 1fr;
    }

    #testimonials div {
        grid-template-columns: 1fr 1fr;
        grid-gap:32px;
    }

    #about h3 {
        font-size: 32px;
    }

    #about div {
        grid-template-columns: repeat(4, 1fr);
    }

    #contact {
        padding: 24px 48px 8px;
    }

    fieldset {
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 0;
    }

    #mySubmit {
        max-width: 200px;
        width: 100%;
        margin-left: auto;
    }

    footer {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    footer a {
        padding: 8px;
    }
}

@media (min-width: 1150px) {
    header {
        grid-template-rows: 80px 20px;
        grid-template-columns: 180px 1fr 1fr;
        align-items: end;
    }

    h1 {
        padding: 8px 12px 0 0;
    }

    header p {
        padding: 0;
    }

    nav {
        grid-row: 1/2;
        grid-column: 3/-1;
        align-self: baseline;
        padding: 0;
    }

    #menu-toggle li {
        margin-top: 0;
    }

    #menu-toggle li:last-child {
        margin-right: 0;
    }

    #menu-toggle a {
        padding: 8px 0;
    }

    #intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px 1fr;
    }

    #img-grid {
        grid-row: 1/-1;
        grid-column: 2/-1; 
    }

    #plan h3 {
        padding: 24px 0 0 16px;
    }

    #plan div {
        padding: 16px 48px 64px;
        grid-template-columns: repeat(4, 1fr);
    }

    #plan section {
        max-height: 220px;
    }

    #plan img {
        max-height: 100%;
    }

    #testimonials {
        padding: 48px;
    }

    #testimonials div {
        grid-template-columns: repeat(4, 1fr);
    }

    #about {
        padding: 24px 16px 48px;
    }

    #about div {
        max-width: 60%;
        margin:auto;
    }

    form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
    }

    footer {
        justify-content: end;
    }

    footer p {
        margin-right: auto;
    }
}